<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.yakindu.sct.refactoring.handlers.impl.FoldIncomingActionsHandler"
            description="%command.description"
            id="com.yakindu.sct.refactoring.foldInActions"
            name="%command.name">
      </command>
      <command
            defaultHandler="org.yakindu.sct.refactoring.handlers.impl.FoldOutgoingActionsHandler"
            description="%command.description.0"
            id="com.yakindu.sct.refactoring.foldOutActions"
            name="%command.name.0">
      </command>
      <command
            defaultHandler="org.yakindu.sct.refactoring.handlers.impl.RenameElementHandler"
            description="%command.description.1"
            id="com.yakindu.sct.refactoring.renameElement"
            name="%command.name.1">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <menu
               id="refactorMenu"
               label="%menu.label">
            <command
                  commandId="com.yakindu.sct.refactoring.foldInActions"
                  label="%command.label"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                  <reference
                        definitionId="oneStateSelected">
                  </reference>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor">
                     </equals>
                  </with>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="com.yakindu.sct.refactoring.foldOutActions"
                  label="%command.label.0"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                  <reference
                        definitionId="oneStateSelected">
                  </reference>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor">
                     </equals>
                  </with>
                  </and>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.yakindu.base.xtext.utils.jface.viewers.StyledTextXtextAdapterContextMenu">
         <menu
               id="org.yakindu.refactoring"
               label="%menu.label.0">
            <command
                  commandId="com.yakindu.sct.refactoring.renameElement"
                  label="%command.label.1"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="oneStateSelected">
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.yakindu.sct.ui.editor.editparts.StateEditPart">
                  </instanceof>
               </iterate>
            </and>
         </with>
      </definition>
      <definition
            id="multipleStatesSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="org.yakindu.sct.ui.editor.editparts.StateEditPart">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.yakindu.sct.refactoring.Activator">
      </startup>
   </extension>

</plugin>
